<h1><%= @widget.name %></h1>
<h2>ID #<%= @widget.id %></h2>
<% if flash[:notice].present? %>
  <aside>
    <%= flash[:notice]
  </aside>
<% end %>
<h3>
  Built by <%= @widget.manufacturer.name %>
  out of <%= @widget.manufacturer.address.country %>
</h3>

<%= render partial: "rating", locals: { widget: @widget } %>
