<h1>Widget Information</h1>
<h2 data-testid="widget-name"><%= @widget.name %></h2>
<h2>ID #<%= styled_widget_id(@widget.widget_id) %></h2>
<% if flash[:notice].present? %>
  <aside>
    <%= flash[:notice]
  </aside>
<% end %>
<h3>
  Built by <%= @widget.manufacturer.name %>
  out of <%= @widget.manufacturer.address.country %>
</h3>

<%= widget_rating_component(@widget) %>
