<h1><%= @widget.name %></h1>
<h2>ID #<%= @widget.id %></h2>
<% if flash[:notice].present? %>
  <aside>
    <%= flash[:notice]
  </aside>
<% end %>
<h3>
  Built by <%= @widget.manufacturer.name %>
  out of <%= @widget.manufacturer.address.country %>
</h3>
<section>
  <div class="clear-floats">
    <h3 style="float: left; margin: 0; padding-right: 1rem;">
      Rate this widget
    </h3>

    <ol style="list-style: none; padding: 0; margin: 0">
      <% (1..5).each do |rating| %>
        <li style="float: left">
          <%= button_to rating,
                        widget_ratings_path,
                        params: {
                                  widget_id: @widget.id,
                                  rating: rating
                                }
          %>
        </li>
      <% end %>
    </ol>
  </div>
  <p>Your ratings help us be amazing!</p>
</section>
